.ramka
{
width:100%;
height:100%;	
background-color:black;
}
.glownypanel
{
width:1300px;
height:700px;
background-color:black;
margin:auto;	
background-image:url(spa2.jpg);
}
.lewypanel
{
width:250px;
height:600px;
position:absolute;
margin-left:50px;
margin-top:50px;
}
.lewypanel1
{
width:200px;
height:120px;
background-color:blue;
margin:auto;
margin-top:25px;
background-image:url(logo6.jpg);
}
.lewypanel1:hover
{
 box-shadow: inset 0 0 0 5px rgb(230, 184, 0);
}
.lewypanelprzezroczysty
{
width:250px;
height:600px;
background-color:black;
position:absolute;
margin-left:50px;
margin-top:50px;
opacity:0.8;
}
.lewypanel2
{
width:200px;
height:430px;
background-color:;
margin:auto;	
}
.p1
{
color:gray;
margin-top:0px;
text-align:center;
font-family: "Courier New";	
font-size:17;
font-weight:bold;
}
a
{
text-decoration:none;
}
.p2
{
color:white;
text-align:center;
font-family: "Courier New";	
font-size:25;
}
.p2:hover
{
color:rgb(230, 184, 0);
}
.p3
{
color:white;
text-align:center;
font-family: "Courier New";	
font-size:25;
margin-top:0px;
}
.p3:hover
{
color:rgb(230, 184, 0);
}
.p4
{
color:white;
text-align:right;
font-family: "Courier New";	
font-size:10;
opacity:0.7;
}
.p5
{
margin-top:-7px;
color:white;
text-align:right;
font-family: "Courier New";	
font-size:10;
opacity:0.7;
}